/* Ensure the carousel images cover the container */
.carousel-item {
    height: 100vh;
    min-height: 300px;
    overflow: hidden; /* To contain the image during zoom */
}
.carousel-caption .banner-heading{
    font-size:28px;
    text-transform:capitalize;
    font-family:'bebas', sans-serif;
}
.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease; /* Smooth zoom transition */
}
.banner-heading{
    color: var(--logo);
}
.carousel-item .shawarma-img{
    margin-top: 122px;
    width:512px;
}
/* Adjust captions for readability */
.carousel-caption {
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.navbar-brand h1{
    font-family: bebas;
}
@media (max-width: 768px) {
    .carousel-caption .banner-heading {
        font-size:14px;
        padding: 0.5rem;
    }

    .carousel-caption p {
        font-size: 0.8rem;
    }

    .carousel-item {
        height: 60vh;
        min-height: 300px;
    }
    
    .carousel-item img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* about header */

.foundation-header{
    height: 100vh;
    background-image: url('/assets/images/header/about\ frenchice\ one.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    object-fit: cover;
}

/* enquiry header */
